server:
  port: 8070

spring:
  application:
    name: msvc-support
  config:
    import: optional:configserver:http://localhost:8888
  profiles:
    active: default

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"